<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037499887793-q5il87pgaqu00fet2kp8jp61l4agg1hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037499887793-q5il87pgaqu00fet2kp8jp61l4agg1hm</string>
	<key>API_KEY</key>
	<string>AIzaSyDNKlLoeJaQrcZ5GFyCoZsBmbvDLm-B190</string>
	<key>GCM_SENDER_ID</key>
	<string>1037499887793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshitaka.KitamachiHutte</string>
	<key>PROJECT_ID</key>
	<string>kitamachihutte</string>
	<key>STORAGE_BUCKET</key>
	<string>kitamachihutte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037499887793:ios:3d91d7338651b6c9b13290</string>
	<key>DATABASE_URL</key>
	<string>https://kitamachihutte.firebaseio.com</string>
</dict>
</plist>